<h1>TOP Page</h1>
<div class="row">
    <p class="col-xs-12 col-sm-4" style="height:100px">Twitter_window</p>
    <p class="col-xs-12 col-sm-8">Ivents</p>
    <p class="col-xs-12 col-sm-8">Topics</p>
</div>
<div class="row">
    <p class="col-xs-12 col-sm-6">NewFace</p>
    <p class="col-xs-12 col-sm-6">Schedules</p>
</div>
<div class="row">
    <p class="col-xs-12 col-sm-6 col-md-3">Recruit</p>
    <p class="col-xs-12 col-sm-6 col-md-3">Movies</p>
    <P class="col-xs-12 col-sm-6 col-md-3">Gravure</P>
    <p class="col-xs-12 col-sm-6 col-md-3">Mail_magazine</p>
</div>
<p>Footer_menu</p>