/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{font-family: メイリオ, Meiryo, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Verdana, Geneva, Arial, 'ＭＳ ゴシック', sans-serif;}
header{display:block;}
.bluecage{padding:7px;color:#fff;background-color:#08f;border:1px solid #000;}
.redcage {padding:7px;color:#fff;background-color:#f08;border:1px solid #000;}
.header_banner{width:100%;height:100px;}
nav ul{width:100%;padding:0;}
nav li{display:inline-block;width:49%;
       border-bottom:1px solid #fff;
       background:#08f;text-align:center;
       padding:5px 0;color:#fff;list-style:none;}
nav li a{text-decoration:none;color:#fff;}
@media screen and (min-width: 768px) {
    nav li{width:24.2%;}
}

@media screen and (min-width: 992px) {
    nav li{width:12.1%;}
}